#footer {
  width: 100vw;
}

.whole {
  font-family: "Montserrat", sans-serif;
}
/* hero background image */
.bgimage {
  height: 100vh;
  background: url("images/whitebg.jpg");
  background-size: cover;
  position: relative;
}

.hero-title {
  font-weight: 700;
}
/* text in the top navigation bar */
.navbar-brand {
  color: white;
}

nav .navbar-nav li a {
  color: white !important;
}

/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkslateblue;
}

/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* about section font css */
.col-lg-8 {
  font-size: 18px;
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: darkslateblue;
}
.servicesText:hover {
  border: 1px solid darkslateblue;
}

.btn-success {
  /* Trying to figure out css with button */
  background-color: darkslateblue;
  border-color: darkslateblue;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: darkslateblue;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fab {
  color: white;
}

/* footer styling */
#footer {
  background-color: darkslateblue;
  text-align: center;
}

/* spacing on all sections */
#about,
#services,
#experience,
#portfolio,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}
#contact {
  padding-bottom: 4rem;
}
